.movies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
}

.movie-list-card {
    margin-left: auto;
    margin-right: auto;
}

.movie-list-title {
    margin-top: 0px;
}

.list-movie-poster {
    border: 5px solid #F77F00;
}