@media (min-width: 1140px) {
    .movies {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        row-gap: 20px;
        margin-bottom: 50px;
    }
}
@media (min-width: 920px) and (max-width: 1140px){
    .movies {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 20px;
        margin-bottom: 50px;
    }
}

@media (min-width: 680px) and (max-width:920px) {
    .movies {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 20px;
        margin-bottom: 50px;
    }
}

@media (min-width: 460px) and (max-width:680px) {
    .movies {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
        margin-bottom: 50px;
    }
}

@media (max-width:460px) {
    .movies {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
        margin-bottom: 50px;
    }
}

.movie-list-card {
    margin-left: auto;
    margin-right: auto;
    background-color: #D62828;
}

.movie-list-title {
    margin-top: 0px;
}

.list-movie-poster {
    border: 5px solid #F77F00;
}